
:root{
   --azul-profundo:#073549;
   --coral-marca:#fb923c;
   --verde-turquesa:#00a896;
   --gris-fondo:#f8fafc;
   --texto-suave:#475569;
}
*{
   margin:0;
   padding:0;
   box-sizing:border-box;
}
body{
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background:var(--gris-fondo);
   color:var(--azul-profundo);
}


.contenedor{
   width:90%;
   max-width:1200px;
   margin:auto;
   padding:60px 0;
}


.logo{
   font-size:32px;
   font-weight:900;
   letter-spacing:2px;
   text-align:center;
   margin-bottom:25px;
}

.titulo{
   text-align:center;
   margin-bottom:50px;
}
.titulo h1{
   font-size:42px;
   margin-bottom:15px;
}
.titulo p{
   color:var(--texto-suave);
   font-size:18px;
   max-width:700px;
   margin:auto;
   line-height:1.6;
}


.grid-preferencias{
   display:grid;
   grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
   gap:30px;
}

/* ===========================
  TARJETAS
=========================== */
.card{
   position:relative;
   height:280px;
   overflow:hidden;
   border-radius:18px;
   cursor:pointer;
   transition:.35s;
   box-shadow:0 12px 30px rgba(0,0,0,.10);
}
.card:hover{
   transform:translateY(-8px);
}
.card img{
   width:100%;
   height:100%;
   object-fit:cover;
   transition:.5s;
}
.card:hover img{
   transform:scale(1.08);
}

/* Oscurecer imagen */
.overlay{
   position:absolute;
   inset:0;
   background:linear-gradient(
   rgba(7,53,73,.15),
   rgba(7,53,73,.75));
   display:flex;
   flex-direction:column;
   justify-content:flex-end;
   padding:25px;
}

.overlay span{
   font-size:42px;
   margin-bottom:8px;
}
.overlay h3{
   color:white;
   font-size:28px;
   font-weight:700;
}


.boton{
   display:flex;
   justify-content:center;
   margin-top:60px;
}
.btn-continuar{
   text-decoration:none;
   background:var(--azul-profundo);
   color:white;
   padding:16px 45px;
   border-radius:10px;
   font-size:17px;
   font-weight:700;
   transition:.3s;
}
.btn-continuar:hover{
   background:var(--verde-turquesa);
}

@media(max-width:768px){
.titulo h1{
   font-size:32px;
}
.titulo p{
   font-size:16px;
}
.card{
   height:220px;
}
.overlay h3{
   font-size:24px;
}
}